@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
ol,ul,li{
    list-style: none;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
}
img,video,svg,iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}